<div class="container flex flex-row items-center justify-center p-6 pt-32">
    <div class="overlay"></div>

    <!-- Sezione per la homepage -->
    <div *ngIf="isHomePage" class="flex flex-row items-center">
        <div class="section flex flex-col">
            <h1 class="font-secondary text-6xl font-extrabold text-white max-w-md mb-2">Enjoy Our Delicious Meal</h1>
            <p class="font-primary text-white pb-2 text-base max-w-xl mb-6">
                Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos.
            </p>
            <a routerLink="/booking"
                class="flex items-center justify-center w-56 h-14 bg-primary text-white py-3 px-6 rounded-sm font-secondary font-bold">
                BOOK A TABLE
            </a>
        </div>
        <div>
            <img src="../../assets/hero.png" class="rotating-image" />
        </div>
    </div>

    <!-- Sezione per le altre pagine -->
    <div *ngIf="!isHomePage" class="flex flex-col items-center justify-center p-24">
        <h1 class="font-secondary text-6xl font-extrabold text-white mb-4">{{ pageTitle }}</h1>
        <div class="font-primary text-white flex flex-row">
            <a class="text-primary" href="#">HOME</a> /
            <a class="text-primary" href="#">PAGE</a> /
            <p>{{ pageTitle.toUpperCase() }}</p>
        </div>
    </div>
</div>