<div class="bg-dark text-body px-3 pt-12 font-secondary">
    <div class="py-12 px-3">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5">
            <!-- Company Section -->
            <div class="px-6 mt-12">
                <div class="flex flex-row items-center mb-6">
                    <h4 class="text-primary font-third text-2xl">Company</h4>
                    <div class="w-11 h-0.5 ml-2 bg-primary"></div>
                </div>
                <ul class="text-base">
                    <li>
                        <i class="fa fa-angle-right mr-2"></i>
                        <a class="hover:text-white" href="#">About Us</a>
                    </li>
                    <li>
                        <i class="fa fa-angle-right mr-2"></i>
                        <a class="hover:text-white" href="#">Contact Us</a>
                    </li>
                    <li>
                        <i class="fa fa-angle-right mr-2"></i>
                        <a class="hover:text-white" href="#">Reservation</a>
                    </li>
                    <li>
                        <i class="fa fa-angle-right mr-2"></i>
                        <a class="hover:text-white" href="#">Privacy Policy</a>
                    </li>
                    <li>
                        <i class="fa fa-angle-right mr-2"></i>
                        <a class="hover:text-white" href="#">Terms & Condition</a>
                    </li>
                </ul>
            </div>

            <!-- Contact Section -->
            <div class="text-base px-6 mt-12">
                <div class="flex flex-row items-center mb-6">
                    <h4 class="text-primary font-third text-2xl">Contact</h4>
                    <div class="w-11 h-0.5 ml-2 bg-primary"></div>
                </div>
                <p class=""><i class="fa fa-map-marker-alt mr-3 mb-2"></i>123 Street, New York, USA</p>
                <p class=""><i class="fa fa-phone-alt mr-3 mb-2"></i>+012 345 67890</p>
                <p class=""><i class="fa fa-envelope mr-3 mb-2"></i>info@example.com</p>
                <div class="flex space-x-2 pt-2">
                    <a href="#"
                        class="w-9 h-9 flex items-center justify-center text-white border-2 rounded-full hover:bg-white group">
                        <i class="fab fa-twitter group-hover:text-primary"></i>
                    </a>
                    <a href="#"
                        class="w-9 h-9 flex items-center justify-center text-white border-2 rounded-full hover:bg-white group">
                        <i class="fab fa-facebook-f group-hover:text-primary"></i>
                    </a>
                    <a href="#"
                        class="w-9 h-9 flex items-center justify-center text-white border-2 rounded-full hover:bg-white group">
                        <i class="fab fa-youtube group-hover:text-primary"></i>
                    </a>
                    <a href="#"
                        class="w-9 h-9 flex items-center justify-center text-white border-2 rounded-full hover:bg-white group">
                        <i class="fab fa-linkedin-in group-hover:text-primary"></i>
                    </a>
                </div>
            </div>

            <!-- Opening Hours Section -->
            <div class="text-2xl px-6 mt-12">
                <div class="flex flex-row items-center mb-6">
                    <h4 class="text-primary font-third text-2xl">Opening</h4>
                    <div class="w-11 h-0.5 ml-2 bg-primary"></div>
                </div>
                <h5 class="text-xl">Monday - Saturday</h5>
                <p class="font-primary text-base">09AM - 09PM</p>
                <h5 class="text-xl">Sunday</h5>
                <p class="font-primary text-base">10AM - 08PM</p>
            </div>

            <!-- Newsletter Section -->
            <div class="px-6 mt-12">
                <div class="flex flex-row items-center mb-6">
                    <h4 class="text-primary font-third text-2xl">Newsletter</h4>
                    <div class="w-11 h-0.5 ml-2 bg-primary"></div>
                </div>
                <p class="">Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
                <div class="relative w-full max-w-md">
                    <input class="form-input w-full py-3 px-4 border border-primary rounded-md text-dark" type="text"
                        placeholder="Your email">
                    <button class="absolute top-0 right-0 mt-2 mr-2 bg-primary text-white py-2 px-4 rounded-md">Sign
                        Up</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Bottom -->
    <div class="container mx-auto py-6">
        <div class="border-t border-gray-700 flex py-6 flex-col md:flex-row justify-between items-center">
            <div class="text-center md:text-left px-3 mb-3 md:mb-0">
                © <a class="text-primary border-b border-primary" href="#">Your Site Name</a>, All Right Reserved.
                Designed By <a class="text-primary border-b border-primary" href="https://htmlcodex.com">HTML Codex</a>
                <br><br>
                Distributed By <a class="text-primary border-b border-primary" href="https://themewagon.com"
                    target="_blank">ThemeWagon</a>
            </div>
            <div class="footer-menu text-center md:text-right space-x-4">
                <a class="hover:text-white" href="#">Home</a>
                <a class="hover:text-white" href="#">Cookies</a>
                <a class="hover:text-white" href="#">Help</a>
                <a class="hover:text-white" href="#">FAQs</a>
            </div>
        </div>
    </div>
</div>