.containerVideo{
    background-image: url('https://via.placeholder.com/800x450');
}

input.ng-touched.ng-invalid{
    background-color: red;
    color: white;
}

select.ng-touched.ng-invalid{
    background-color: red;
}